/* Navigation styles */
.nav {
  background-color: bisque;
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.nav a {
  color: black;
  text-decoration: none;
  margin: 0 10px;
}

/* Courses styles */
.course {
  height:5em;
}
.course-name,.course-price {
  display: initial;
}
.course-details {
  display: none;
  padding-top: 10px;
}
.detailsBtn {
  background-color: blue;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.detailsBtn:hover {
  background-color: darkblue;
}

.course:hover .course-details {
  display: block;
}

.course:hover .course-name {
  display:none;
}

.course:hover .course-price {
  display:none;
}

/* Testimonials styles */

/* Footer styles */
footer {
  background-color: bisque;
  color: white;
  padding: 1em;
  text-align: center;
  display: flex;
}

footer a {
  /* color: white; */
  text-decoration: none;
  margin: 0 10px;
}
